body{ background-color: blanchedalmond;
    text-align: center;
}
#bem{
    text-align: center;
}
#bem{
    color: rgb(232, 206, 9);
}
#title{
    background-color: rgb(0, 0, 0);
    color: rgb(223, 212, 5);
}